<h1>Admin Dashboard</h1>

<div>
  <ul class= "list-group">
    <li class="list-group-item">Products in the database: 
      <span class="badge"><%= @total_products %></span>
    </li>
    <li class="list-group-item">Categories in the database: 
      <span class="badge"><%= @total_categories %></span>
    </li>
  </ul>
</div>
